<html>
<head>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="xeditable.min.js"></script>
<link rel="stylesheet" href="xeditable.min.css">
<!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<div ng-app="myApp" ng-init="XName='Xia'" ng-controller="myController">
 <p>My name is <b><span style="color:orange; margin-left:20px;">{{XName}}</span></b></p>
 <input name="username" type="text" ng-model="ldap" placeholder="googlexia">
 <input name="model" type="text" ng-model="phonemodel">
 <p></p>
 <a href="#" editable-text = "ldap">{{ ldap || "empty" }}</a>
 </div>

<script>
var app = angular.module('myApp', ["xeditable"]);
app.run(function(editableOptions) {
  editableOptions.theme = 'bs3';
});

app.controller('myController', function($scope) {
  $scope.ldap = "xiawang";
  $scope.phonemodel = "sony z2";
});
</script>

</body>
</html>
