.comfortable{
	padding-top: 36px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right:10px;
}

.serif {
    font-family: "Times New Roman", Times, serif;
}

.motric-font {
    font-family: Courier, Helvetica, sans-serif;
    font-size:16px;
}

.required {
	color:red;
}

.mtb {
	background-color: #00CC66;
	/*background-color: orange;*/
}

.mtinput, .mttxt, .mtnum{
	height: 50px;
}
.mttxt {
	width: 300px;
}
.mtnum {
	width: 100px;
}

/*td {
	padding: 10px;
}*/

/*table {
	border-collapse: separate;
	border: 1px solid white;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    /*font-size: 18px;*/
}

li a {
    display: block;
    color: #000;
    padding: 20px 0 20px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a.active {
    background-color: #4CAF50;
    color: white;
}


li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.xframe {
	border: none;
	margin-left: 15.5%;
	width: 85%;
	height:100%;
}

img {
    clear: left;
    margin: 0 0 10px 10px;
    width: 50%;
}

thead th {
    text-align: center;
}

/*thead th {
    text-align: center;
} doesn't work */

tr:hover {
    background-color: #4CAF50;
}