{% extends 'motric_moresrc.html' %}
{% load static %}
{% block meta %}
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="613024433503-bplsrhovk0a60ng7lrlb6slg49ta320h.apps.googleusercontent.com">
{% endblock meta %}
{% block body %}
<div class="modal fade" id="signin_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please sign in first.</h4>
      </div>
      <div class="modal-body">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-md button_in_modal" id="dont_clickme1">Don't click me</button>
        <button class="btn btn-info btn-md button_in_modal" id="dont_clickme2">Click Sign in :)</button>
      </div>
    </div>
  </div>
</div>
	<ul class="navul">
	{% csrf_token %}
	  <li><a class="active" href="/home/" target="main">Home<span class="glyphicon glyphicon-home navicon"></a></li>
	  <li><a href="/public_device/" target="main">Public Devices<span class="glyphicon glyphicon-eye-open navicon"></a></li>
	  <li><a href="/dedicated_device/" target="main">Dedicated Devices<span class="glyphicon glyphicon-eye-close navicon"></a></li>
	  <li><a href="/broken_device/" target="main">Broken Devices<span class="glyphicon glyphicon-wrench navicon"></a></li>
	  <li><a href="/device_request/" target="main">Device Request<span class="glyphicon glyphicon-phone navicon"></a></li>
	  <li><a href="/request_disposal/" target="main">Pending Request<span class="glyphicon glyphicon-bell navicon"></a></li>
	  <li><a href="/request_history/?ao=all" target="main">Resolved Request<span class="glyphicon glyphicon-record navicon"></a></li>
	  <li><a href="/device_register/" target="main">Device Register<span class="glyphicon glyphicon-floppy-save navicon"></a></li>
	  <li><a href="http://mobileharness/" target="_blank">MH Frontend<span class="glyphicon glyphicon-new-window navicon"></a></li>
	  <!-- <li><a href="http://go/mobileharness" target="_blank">MH UserGuide<span class="glyphicon glyphicon-leaf navicon"></a></li> -->
	  <!-- <li><a href="http://go/ezreq" target="_blank">Pivt<span class="glyphicon glyphicon-usd navicon"></a></li> -->
	  <!-- <li><a href="http://go/mh-labops-request" target="_blank">File Bug<span class="glyphicon glyphicon-send navicon"></a></li> -->
	  <div style="margin:50 0 0 50" class="g-signin2" data-onsuccess="onSignIn" id="g-signin"></div>
	  <div style="margin:10 0 0 30;display:inline-block" id="signed_name"></div>
	  <div style="margin:15 30 0 0;display:inline-block; font-size:12px; visibility:hidden" id="signout"><a href="#" onclick="SignOut()">(Sign out)</a></div>
	  <li style="margin-top:120px;"><img src="{% static 'img/motric-logo_m.png' alt='motric-logo' %}"></li>
	  <li style="margin:0 0 10 10;">Powerd by <span style="color:red">Mobile Harness Team</span> ©2016 </li>
	</ul>
	<iframe class="xframe" src="/home" name="main" ></iframe>
{% endblock %}