<!-- Modal -->
<div class="modal fade" id="confirm_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>You're refusing the request from our adorable user. Sure?</p>
        <p></p>
        <p>Input the reason we will show up to user, please be <span style="color:orange; font-weight:bold">brief and clear</span>.</p>
        <input type="text" class="form-control mtinput" id="refuse_reason">
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-md button_in_modal" id="yes" data-dismiss="modal">Yes</button>
        <button class="btn btn-info btn-md button_in_modal" id="no" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="allocation_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div id="content" class="modal-content">
      <div class="modal-header">
        <h4 id="title" class="modal-title"></h4>
      </div>
    <form id="allocation_form" method="post" action='/device_allocate/'>
      <div class="modal-body">
        <p id="inst"></p>
        {% csrf_token %} 
        <table id="allocation_table">
          <!-- <tr><td><input type="text" class="form-control mtinput"></td></tr> -->
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-md button_in_modal" id="submit" type="submit">Submit</button>
        <button class="btn btn-info btn-md button_in_modal" id="cancel" data-dismiss="modal">Cancel</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="modal fade" id="replacement_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Device replacement</h4>
      </div>
      <div class="modal-body">
        <p>Which device is wanted to replace this one? Please enter the <span class="noticeable">first #</span> here.</p><p></p>
        <input type="text" class="form-control mtinput" id="replacement_pk" placeholder="input first #" required>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-md button_in_modal" id="submit_rep" type="submit">Submit</button>
        <button class="btn btn-info btn-md button_in_modal" id="cancel_rep" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="bug_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Associate with Bug ID</h4>
      </div>
      <div class="modal-body">
        <p>If there is a bug filed for this request, please attach the <span class="noticeable">bug ID</span> here.</p><p></p>
        <input type="text" class="form-control mtinput" id="bugid_input" placeholder="input bug id" required>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning btn-md button_in_modal" id="submit_bugid" type="submit" data-dismiss="modal">Submit</button>
        <button class="btn btn-info btn-md button_in_modal" id="cancel_bugid" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>