{% extends 'motric_base.html' %}
{% load staticfiles %}
{% block extrafile %}
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script> {# not compatible with bootstrap alert #} -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/angular.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/bootstrap300.min.js' %}"></script> {# compatible with editable, even jquery version is 3 #} -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
  <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> {# not compatible with editable, if the jquery version is 3 #} -->
  <script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}" />
{% endblock extrafile %}
