<html>
<head>
{% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Device Request Page</title>
  <script src="{% static 'angular.min.js' %}"></script>
  <script src="{% static 'xeditable.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'xeditable.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="w3.css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  <script src="{% static 'xmotric.js' %}"></script>
  <link rel="stylesheet" href="{% static 'xmotric.css' %}">
</head>
<body>
  <div class="container motric-font">
    <h3 style="margin-bottom:25px">Request for dedicated devices in <b>Mobile Harness</b> Beijing Centralized Lab</h3>
    <div ng-app="requestPage" ng-controller="requestCtrl">
      <div class="jumbotron" ng-bind-html="instruction | parsehtml"></div>
      <input type="checkbox" ng-model="approval"><span style="color:red">  Make sure you've gotten your manager's approval before you send the request. </span><p></p>
      <form id="moha-device-request" role="form" enctype="application/json" method="post" action="/request/">
      {% csrf_token %}
<!--         <div ng-include="'{% static 'generalInfo-section.html' %}'"></div>
        <div ng-include="'{% static 'deviceList.html' %}'"></div>      -->   
      {% include 'generalInfo-section.html' %}
      {% include 'deviceList.html' %}
      <button type="submit" class="btn btn-success" style="float:left" ng-disabled="approval">Submit</button> 
      </form>
      <button class="btn btn-primary" style="float:right" onclick="addDevice()">Add row</button>
<!--       <em>for test</em>
      <button type="submit" class="btn btn-success" style="float:left" ng-disabled="approval" ng-click="test()">Submit</button>
      <p><pre ng-bind="data"></pre></p>
      <p><pre ng-bind="ison"></pre></p> -->
    </div>
  <script src="{% static 'requestController.js' %}"></script>
</body>
</html>