{% extends 'motric_disposal.html' %}
{% block title %}Pending Request{% endblock %}
{% block action_title %}<th class="btn-danger">Action</th>{% endblock %}
{% block status %}
	  	    <th class="btn-danger dropdown">
	  	  	  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Status 
	  	  	  <span class="caret"></span></button>
	  	  	    <ul class="dropdown-menu">
	  	  	    {% with current_tab=request.GET.ao current_location=request.GET.l %}
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=all">All</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=req">Requested</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=app">Approved</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=ord">Ordered</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=rec">Received</a></li>
				{% endwith %}
<!-- 				  <li><a href="{{ request.path }}?s=all">All</a></li>
				  <li><a href="{{ request.path }}?s=req">Requested</a></li>
				  <li><a href="{{ request.path }}?s=app">Approved</a></li>
				  <li><a href="{{ request.path }}?s=ord">Ordered</a></li>
				  <li><a href="{{ request.path }}?s=rec">Received</a></li> -->
				</ul>
			</th>
{% endblock %}
{% block action %}
		  <td>
		    <!-- <a href="#" data-type="select" data-name="req_action" data-title="Choose action" data-pk="{{ request.id }}">{{ request.status |default:"not selected" }}</a> -->
		    <select class="form-control" data-name="req_action" data-title="Choose action" data-pk="{{ request.id }}">
		      <option></option>
		      {% if request.status == 'REQ' %}
	  	  	  <option value="REF">Refuse</option>
	  	  	  <option value="APP">Approve</option>
	  	  	  {% endif %}
	  	  	  <option value="AVA">Make Public</option>
	  	  	  <option value="ASS">Allocate New</option>
	  	  	  <option value="CUR">Allocate Current</option>
	  	  	  <!-- <option value="LOC">Set location</option> -->
	  	  	</select>
	  	  </td>
	  	  <input data-name="lab_location" data-pk="{{ request.id }}" type="hidden" value="{{ request.lab_location }}">
{% endblock %}