{% extends 'motric_moresrc.html' %}

{% block title %}Details of device{% endblock %}

{% block body %}
  <div class="container">
	<h3>Details of device {{ did }}</h3>
	<table class="table table-bordered font-compacted">
	    <caption>Ownership Info</caption>
	  	<tr class="btn-primary">
	  	  <th>Model</th>
	  	  <th>OS</th>
	  	  <th title='Those who have the property ownership of the device.'>Owner<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th title='Those who have the current usage access of the device. If empty, it is same as owner.'>User<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th title='Info displayed on the MobileHarness client homepage.'>Label<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th>Project</th>
	  	  <th class="btn-danger">Status</th>
	  	</tr>
	  	<tr>
	  	  <td>{{ device.model }}</td>
	  	  <td>{{ device.os }}</td>
	  	  <td>{{ device.owner }}</td>
	  	  <td>{{ device.user }}</td>
	  	  <td>{{ device.label }}</td>
	  	  <td>{{ device.project }}</td>
	  	  <td>{{ device.get_status_display }}</td>
	  	</tr>
	</table>

	<table class="table table-bordered font-compacted">
	    <caption>Balance Info</caption>
		<tr class="btn-success">
	  	  <th>Requester</th>
	  	  <th>Request Date</th>
	  	  <th>Cost Center</th>
	  	  <th>PO ID</th>
	  	  <th>PO Date</th>
	  	  <th>Price(USD)</th>
	  	  <th>Price(CNY)</th>
		</tr>
		<tr>
	  	  <td>{{ device.respond_to.last.requester.ldap }}</td>
	  	  <td>{{ device.respond_to.last.request_date}}
	  	  <td>{{ device.respond_to.last.requester.cost_center }}</td>
	  	  <td>{{ device.respond_to.first.po_number }}</td>
	  	  <td>{{ device.respond_to.first.po_date }}</td>
	  	  <td>{{ device.respond_to.first.price_usd }}</td>
	  	  <td>{{ device.respond_to.first.price_cny }}</td>
	  	</tr>
	</table>	

	<table class="table table-bordered font-compacted">
	    <caption>Requests this device had responded towards</caption>
		{% for request in request_list %}
		<tr>
	  	  <td>#{{ request.id }}</td>
	  	  <td>{{ request }}</td>
	  	</tr>
	  	{% endfor %}
	</table>

<!-- 	<table class="table table-bordered font-compacted">
	    <caption>Ownership Info</caption>
	  	<tr>
	  	  <th class="btn-primary">Model</th>
	  	  <td>{{ device.model.last.model_type }}</td>
	  	</tr>
	  	<tr>
	  	  <th class="btn-primary">OS</th>
	  	  <td>{{ device.os }}</td>
	  	</tr>
	  	<tr>
	  	  <th class="btn-primary" title='Those who have the property ownership of the device.'>Owner<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <td>{{ device.owner }}</td>
	  	</tr>
	  	<tr>
	  	  <th class="btn-primary" title='Those who have the current usage access of the device. If empty, it is same as owner.'>User<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <td>{{ device.user }}</td>
	  	</tr>
	  	<tr>
	  	  <th class="btn-primary" title='Info displayed on the MobileHarness client homepage.'>Label<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <td>{{ device.label }}</td>
	  	</tr>
	  	<tr>
	  	  <th class="btn-primary">Project</th>
	  	  <td>{{ device.project }}</td>
	  	</tr>
	  	<tr>
	  	  <th class="btn-danger">Status</th>
	  	  <td>{{ device.get_status_display }}</td>
	  	</tr>
	</table> -->

	<table class="table table-bordered font-compacted">
	    <caption>Replacement History (replaced by)</caption>
		{% for rep in replacement_list %}
		<tr>
	  	  <td>#{{ rep.id }}</td>
	  	  <td><a href="/details/?pk={{ rep.id }}" target="_blank">{{ rep }}</a></td>
	  	</tr>
	  	{% empty %}
	  	<tr><td>None.</td></tr>
	  	{% endfor %}
	</table>

	<table class="table table-bordered table-condensed font-compacted">
		<caption>Event History</caption>
		<tr class="btn-success">
			<th>Timestamp</th>
			<th>Operator</th>
			<th class="btn-warning">Operation</th>
		</tr>
		{% for event in event_list %}
		<tr>
			<td>{{ event.event.items.1.1 }}</td>
			<td>{{ event.event.items.0.1 }}</td>
			<td>{{ event.event.items.2.1 |safe }}</td>
		</tr>
		{% endfor %}
	</table>
  </div>

{% endblock %}