{% extends 'motric_moresrc.html' %}

<!-- {% block title %}Disposal for requested devices{% endblock %} -->

{% block body %}

{% include 'motric_modal.html' %}

    <!-- <div id="translayer">&nbsp;</div>
    <div id="popupwindow">
        <div class="title"><span>Confirm</span><span class="close" onclick="popdown()">x</span></div>
        <div class="content">You sure?</div>
    </div>

	<div id="notification" class="alert alert-success">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>Saved successfully!</strong>
	</div> -->
    <!-- <div><span><a href="#" id="ex_rate" data-name="exchange_rate" data-type="text" data-placement="right" data-title="Enter exchange rate" data-value="">Click here to input exchage rate</a></span></div> -->

	  <h4 style="float:left">Totally <span class="noticeable">{{ count }}</span> requests   <button class='btn btn-default'><a href="http://{{ request.get_host }}" target="_parent">Go Home</a></button>   <button class="btn btn-default"><a href="#" id="toggle-show">Show more columns</a></button></h4>
	  {% block date_filter %}{% endblock %}

	<table id="disposal" class="table table-bordered table-hover table-condensed text-center font-compacted">
	  {% csrf_token %}
	  <thead>
	  	<tr class="btn-primary">
	  	  <th>#</th>
	  	  <th>Requester</th>
	  	  <th class="l2_column hidden">CCenter</th>
	  	  <th>Project</th>
	  	  <th>Owner</th>
	  	  <th class="l2_column hidden">Label</th>
	  	  <th class="l2_column hidden">PreferLab</th>
	  	  <th>Model</th>
	  	  <th class="l2_column hidden">OS</th>
	  	  <th>Quantity</th>
	  	  <th class="l2_column hidden">Comment</th>
	  	  <!-- <th class="btn-danger">Status</th> -->
	  	  <th class="btn-success">PO#</th>
	  	  <th class="btn-success">Price(CNY)</th>
	  	  <!-- <th class="btn-info" id="rate"><a href="#" data-value="" title="Bulk edit the exchange rate">Exrate</a></th> -->
	  	  <th class="l2_column hidden btn-success">Xrate</a></th>
	  	  <th class="btn-success">Price(USD)</th>
	  	  <th class="btn-success">Bug#</th>
	  	  <!-- <th class="btn-success">Location</th> -->
	  	  <th class="btn-success dropdown">
	  	  	  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Location 
	  	  	  <span class="caret"></span></button>
	  	  	    <ul class="dropdown-menu">
	  	  	      {% with current_tab=request.GET.ao current_status=request.GET.s %}
	  	  	      <li><a href="?ao={{ current_tab }}&s={{ current_status }}&l=all">All</a></li>
				  <li><a href="?ao={{ current_tab }}&s={{ current_status }}&l=pek">PEK</a></li>
				  <li><a href="?ao={{ current_tab }}&s={{ current_status }}&l=mtv">MTV</a></li>
				  <li><a href="?ao={{ current_tab }}&s={{ current_status }}&l=twd">TWD</a></li>
				  {% endwith %}
				</ul>
			</th>
	  	  <!-- <th class="btn-danger">Status</th> -->
	  	  {% block status %}{% endblock %}
	  	  <!-- <th class="btn-danger">Action</th> -->
	  	  {% block action_title %}{% endblock %}
	  	</tr>
	  </thead>
	  <tbody>
		{% for request in request_list %}
		<tr>
		  <td><a href="/details?t=r&pk={{ request.id }}" target="_blank">{{ request.id }}</a></td>
		  <td>{{ request.requester.ldap }}</td>
		  <td class="l2_column hidden">{{ request.requester.cost_center }}</td>
		  <td class="one-line">{{ request.requester.project }}</td>
		  <td class="one-line">{{ request.requester.device_owner }}</td>
		  <!-- <td class="l2_column hidden" title="{{ request.requester.device_label }}">{{ request.requester.device_label }}</td> -->
		  <td class="l2_column hidden one-line-sticker">{{ request.requester.device_label }}</td>
		  <td class="l2_column hidden">{{ request.requester.pref_location |default:"" }}</td>
		  <td>{{ request.model_type }}</td>
		  <td class="l2_column hidden">{{ request.os_version }}</td>
		  <td>{{ request.quantity }}</td>
		  <!-- <td>{{ device.get_status_display }}</td>  {# don't use it as display() #} -->
		  <!-- <td><input type="text" name="po_number" size="10"></td> -->
		  <!-- <td><input type="text" name="price_cny" maxlength="5" size="5"></td> -->
		  <!-- <td><input type="text" name="price_usd" maxlength="5" size="5"></td> -->
		  <td class="l2_column hidden one-line"><a href="#" data-target="req_editor" data-name="comment" data-title="What do you say" data-pk="{{ request.id }}">{{ request.comment }}</a></td>
		  <td><a href="#" data-target="req_editor" data-name="po_number" data-title="Enter PO ID" data-pk="{{ request.id }}">{{ request.po_number |default:"" }}</a></td>
		  <td><a href="#" data-target="req_editor" data-name="price_cny" data-title="Enter Price(CNY)" data-pk="{{ request.id }}">{{ request.price_cny |default:"" }}</a></td>
		  <td class="l2_column hidden"><a href="#" data-target="req_editor" data-name="ex_rate" data-title="Enter exchange rate" data-pk="{{ request.id }}">{{ request.ex_rate |default:"" }}</a></td>
		  <td><a href="#" data-target="req_editor" data-name="price_usd" data-title="Enter Price(USD)" data-pk="{{ request.id }}">{{ request.price_usd |default:"" }}</a></td>
		  <td><a href="http://b/{{ request.bug_id }}" target="_blank">{{ request.bug_id |default:"" }}</a><button class="btn btn-xs btn-hidden-attach_bug" data-pk="{{ request.id }}" style="float:right"> {% if not request.bug_id %}Attach Bug{% endif %}{% if request.bug_id %}Modify ID{% endif %}</button></td>
		  <td><a href="#" data-target="req_editor" data-name="lab_location" data-type="select" data-title="Set lab location" data-pk="{{ request.id }}">{{ request.lab_location |default:"" }}</a></td>
		  <td {% if request.charged == 1 %} class="bold_green" {% endif %}>{{ request.get_status_display }}
		  {% if request.get_status_display == 'Ordered' %}<button data-pk="{{ request.id }}" title="Mark the device as Received" class="btn btn-xs btn-hidden-receive" style="float:right">Received</button>{% endif %}
		  {% if request.get_status_display == 'Assigned' and not request.charged == 1 %}<button data-pk="{{ request.id }}" title="Mark the request as Charged" class="btn btn-xs btn-hidden-charge" style="float:right">Charged</button>{% endif %}
		  </td>
		  {% block action %}{% endblock %}
		</tr>
		{% endfor %}
	  </tbody>
	</table>

{% endblock %}