{% extends 'motric_moresrc.html' %}
{% block title %}Device register for Mobile Harness{% endblock %}
{% block body %}

  <div class="container">
    <h3 style="margin-bottom:30px; padding-left:10px">Register/Warehouse devices for Mobile Harness <img src="/static/img/moha-48-mdpi.png" align="top"></h3>
    <form class="form-horizontal" id="device_register_form" role="form" method="post" action="/register/">
      {% csrf_token %}
      {% include 'reg_general.html' %}
      {% include 'reg_idlist.html' %}
      <button class="btn btn-lg btn-warning" style="float:right; margin-left:5px" id="submit_register" type="submit">Submit</button>
    </form>
    <button class="btn btn-lg btn-danger" style="float:right" id="add-more">rows More</button>
    <input class="form-control mtinput mtnum" style="float:right" type="number" value="1" min="1" id="more-amount">
    <span class="noticeable text-center" style="float:right;font-size:35px; margin-right:2px">+</span>

  </div>

{% endblock %}