{% extends 'motric_moresrc.html' %}
{% block extra_sub %}
  <!-- <script src="https://www.google.com/jsapi" type="text/javascript"></script> -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('visualization', 'current', {packages:['table', 'corechart', 'bar']});

    google.charts.setOnLoadCallback(drawTable);
    function drawTable() {
      {{ jscode |safe}}
      var jscode_table = new google.visualization.Table(document.getElementById('table_models'));
      var css_modeltable = {headerRow: 'left-align motric-font', tableRow: 'motric-font', tableCell: 'motric-font'};
      jscode_table.draw(jscode_data, {showRowNumber: true, width: '100%', height: 800, allowHtml: true, cssClassNames: css_modeltable});

      var json_table = new google.visualization.PieChart(document.getElementById('pie_models'));
      var json_data = new google.visualization.DataTable( {{ json_model |safe}} );
      var options = {
                    height: 800, 
                    title:'Percentage of device models (total: {{ d_count }})',
                    titleTextStyle:{color:'gray', fontSize:18, bold:true},
                    is3D: true,
                    fontName: 'Courier New',
                    // chartArea: {left:200, top:150},
                    sliceVisibilityThreshold: .002
                  }
      json_table.draw(json_data, options);


      var json_table_r = new google.visualization.ColumnChart(document.getElementById('col_requests'))
      var json_data_r = new google.visualization.DataTable( {{ json_request |safe}} );
      var options_r = {
                      // title: 'Request by month', subtitle: 'Request times and Requested-device quantity from 2016-10',
                      width: '100%', height: 800,
                      fontName: 'Courier New',
                    };
      json_table_r.draw(json_data_r, options_r);


      // var json_resolved_combo = new google.visualization.ComboChart(document.getElementById('bar_requests'))
      var json_resolved_combo = new google.visualization.ColumnChart(document.getElementById('bar_requests'))
      // var json_resolved_combo = new google.charts.Bar(document.getElementById('bar_requests'))
      var json_data_resolved_combo = new google.visualization.DataTable( {{ json_resolved |safe}} );
      var options_resolved_r = {
                      // width: 1200,
                      height: 800,
                      fontName: 'Courier New',
                      vAxis: {
                        // format: '#.0',
                      },
                      // orientation: 'vertical',
                      seriesType: 'bars',
                      series:{
                        0: {color: 'orange'},
                        1: {color: '#34A853'},
                        2: {type: 'steppedArea', color:'#4285F4'},
                      }
                    };

      var materialOptions = {
                width: '100%', height: 800,
                // fontName: 'Courier New',
                chart: {
                  title: 'Request & Fulfillment',
                  subtitle: '# of requests on the left, fulfilling-days on the right'
                },
                chartArea:{left:200, top:100},
                // bars:'horizontal',
                axisTitlesPosition:'in',
                series: {
                  0: { axis: 'requests'}, // Bind series 0 to an axis named 'requests'.
                  1: { axis: 'requests'},
                  2: { axis: 'fdays_average'}, // Bind series 1 to an axis named 'fdays_average'
                },
                axes: {
                  y: {
                    requests: {side:'left', label: '# of requests submitted and resolved'}, // Left y-axis.
                    fdays_average: {side: 'right', label: 'average fulfilling-days  (unit: day)'} // Right y-axis.
                  }
                }
              };
      json_resolved_combo.draw(json_data_resolved_combo, options_resolved_r);
      // json_resolved_combo.draw(json_data_resolved_combo, google.charts.Bar.convertOptions(materialOptions));


      var json_resolved_tc = new google.visualization.Table(document.getElementById('table_requests'));
      var json_data_resolved_4tc = new google.visualization.DataTable( {{ json_resolved_4tc |safe }} );
      json_resolved_tc.draw(json_data_resolved_4tc, {showRowNumber: true, width:'86%', height: 600, allowHtml: true, cssClassNames: css_modeltable});


      var json_labloc_pc = new google.visualization.PieChart(document.getElementById('pie_labloc'));
      var json_data_labloc_4pc = new google.visualization.DataTable( {{ json_labloc |safe }});
      var options_labloc = {
                    height: 800, 
                    title:'Final lab location distribution',
                    titleTextStyle:{color:'gray', fontSize:18, bold:true},
                    // is3D: true,
                    pieHole: 0.25,
                    fontName: 'Courier New',
                    // chartArea: {left:200, top:150},
                    sliceVisibilityThreshold: .002
                  }
      json_labloc_pc.draw(json_data_labloc_4pc, options_labloc);




      var json_preflab_pc = new google.visualization.PieChart(document.getElementById('pie_preflab'));
      var json_data_preflab_4pc = new google.visualization.DataTable( {{ json_preflab |safe }});
      var options_prelab = {
                    height: 800, 
                    title:'User preferred lab location distribution',
                    titleTextStyle:{color:'gray', fontSize:18, bold:true},
                    // is3D: true,
                    pieHole: 0.25,
                    fontName: 'Courier New',
                    // chartArea: {left:200, top:150},
                    sliceVisibilityThreshold: .002
                  }

      json_preflab_pc.draw(json_data_preflab_4pc, options_prelab);

    }

  </script>
{% endblock %}
{% block body %}
  <table width="100%">
    <caption><H3 style="text-align: center">Requests break-down by model</H3></caption>
    <ul class="nav nav-tabs" style="float:right">
    {% with sa=request.GET.standalone %}
      <li><a href="{{ request.path }}{% if sa %}?standalone=1{% endif %}">All</a></li>
      <li><a href="{{ request.path }}?days=180{% if sa %}&standalone=1{% endif %}">180Days</a></li>
      <li><a href="{{ request.path }}?days=90{% if sa %}&standalone=1{% endif %}">90Days</a></li>
    {% endwith %}
    </ul>
    <tr>
      <td style="padding-left:88px" width="25%"><div id="table_models" class=""></div></td>
      <td width="73%"><div id="pie_models" class=""></div></td>
    </tr>
  </table>

  <br/><br/><br/>
  <table width="98%">
    <caption><H3 style="text-align: center">Count of requests and devices break-down by month</H3></caption>
    <tr>
      <td><div id="col_requests"></div></td>
    </tr>
  </table>

  <br/><br/><br/>
  <table width="98%">
    <caption><H3 style="text-align: center">Response of requests break-down by month</H3></caption>
    <tr>
      <td><div id="bar_requests"></div></td>
    </tr>
    <tr>
      <td style="padding-left:220px"><div id="table_requests"></div></td>
    </tr>
  </table>

    <br/><br/><br/>
  <table width="98%">
    <caption><H3 style="text-align: center">Requests break-down by lab location</H3></caption>
    <tr>
      <td style="padding-left:20px" width="50%"><div id="pie_labloc"></div></td>
      <td width="48%"><div id="pie_preflab"></div></td>
    </tr>
    <tr>
      <td><div id="table_preflab"></div></td>
    </tr>
  </table>

<!--   <H3 style="text-align: center">Request times and device quantity brokendown by month</H3>
  <h4 style="text-align: center">(as from 2016-10)</h4>
  <div id="bar_requests""></div> -->

{% endblock %}
