{% extends 'motric_moresrc.html' %}
{% block extra_sub %}
  <!-- <script src="https://www.google.com/jsapi" type="text/javascript"></script> -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('visualization', 'current', {packages:['table', 'corechart', 'bar']});

    google.charts.setOnLoadCallback(drawTable);
    function drawTable() {
      {{ jscode |safe}}
      var jscode_table = new google.visualization.Table(document.getElementById('table_models'));
      var css_modeltable = {headerRow: 'left-align motric-font', tableRow: 'motric-font', tableCell: 'motric-font'};
      jscode_table.draw(jscode_data, {showRowNumber: true, width: '100%', height: 800, cssClassNames: css_modeltable});

      var json_table = new google.visualization.PieChart(document.getElementById('pie_models'));
      var json_data = new google.visualization.DataTable( {{ json_model |safe}} );
      var options = {height: 800, 
                    title:'Most popular device models',
                    titleTextStyle:{color:'gray', fontSize:18, bold:true},
                    is3D: true,
                    fontName: 'Courier New',
                    // chartArea: {left:200, top:150},
                    sliceVisibilityThreshold: .002
                  }
      json_table.draw(json_data, options);


      var json_table_r = new google.visualization.ColumnChart(document.getElementById('bar_requests'))
      var json_data_r = new google.visualization.DataTable( {{ json_request |safe}} );
      var options_r = {
                      // title: 'Request by month', subtitle: 'Request times and Requested-device quantity from 2016-10',
                      width: '100%', height: 800,
                      fontName: 'Courier New',
                    };
      json_table_r.draw(json_data_r, options_r);
    }

  </script>
{% endblock %}
{% block body %}
  <table width="100%">
    <caption><H3 style="text-align: center">Requests break-down by model</H3></caption>
    <ul class="nav nav-tabs" style="float:right">
    {% with sa=request.GET.standalone %}
      <li><a href="{{ request.path }}{% if sa %}?standalone=1{% endif %}">All</a></li>
      <li><a href="{{ request.path }}?days=180{% if sa %}&standalone=1{% endif %}">180Days</a></li>
      <li><a href="{{ request.path }}?days=90{% if sa %}&standalone=1{% endif %}">90Days</a></li>
    {% endwith %}
    </ul>
    <tr>
      <td width="25%"><div id="table_models" class=""></div></td>
      <td width="73%"><div id="pie_models" class=""></div></td>
    </tr>
  </table>

  <br/><br/><br/>
  <table width="98%">
    <caption><H3 style="text-align: center">Amount of requests and devices break-down by month</H3></caption>
    <tr>
      <td><div id="bar_requests"></div></td>
    </tr>
  </table>

<!--   <H3 style="text-align: center">Request times and device quantity brokendown by month</H3>
  <h4 style="text-align: center">(as from 2016-10)</h4>
  <div id="bar_requests""></div> -->
<!--     <H2>Table created using ToJSCode</H2>
    <div id="table_div_jscode" style="border: 1px solid #ccc; float:left"></div>
    <H2>Table created using ToJSon</H2>
    <div id="table_div_json"  style="border: 1px solid #ccc; float:right"></div> -->
{% endblock %}
