<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}{% endblock meta %}
  <title>{% block title %}{% endblock title %}</title>
  {% block extrafile %}{% endblock extrafile %}
  {% load staticfiles %}
  <script src="{% static 'js/xmotric.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/xmotric.css' %}" />
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
</head>

<body class="motric-font">
	<!-- <div class="g-signin2 btn-hidden" data-onsuccess="onSignIn"></div> -->
  {% block body %}{% endblock body %}
</body>
</html>