{% extends 'motric_moresrc.html' %}
{% block title %}Home of Motric{% endblock %}
{% block body %}

  <div class="container">
    <div class="centered_logo"><h1 style="display: inline-block;"><span class="Gg">M</span><span class="o1"> O</span><span class="o2"> T</span><span class="Gg"> R</span><span class="l1"> I</span><span class="e1"> C</span></h1><h4 style="display: inline-block;margin-left: 10px;vertical-align: %20;">of Mobile Harness<img src="/static/img/moha-48-mdpi.png" style="vertical-align: text-bottom;"></h4></div>

    <form class="navbar-form" role="search" action="/search/" id="search-form">
    <!-- {% csrf_token %} -->
    <div class="input-group centered_searchbox">
      <!-- <input type="hidden" name="by" value="id" /> -->
      <input type="text" class="form-control mtinput" placeholder="Search by device id, model, project, owner, location, etc. Syntax is similar to FE." name="q" id="search_box" size="100" />
      <div class="input-group-btn">
        <button class="btn btn-primary glyphicon glyphicon-search mtinput" type="submit" id="search_submit"></button>
      </div>
      <div class="input-group-btn">
        <img src='/static/img/question.png' style="width:21px;margin-left:8px" title="Click me to show the search syntax" id="tips-toggle">
      </div>
    </div>
    </form>
      <div class="hidden centered_tips jumbotron" id="search-tips">
        <b><span style="color:orange">The syntax of the search query is like:</span><p style="margin-bottom: 10px">
        <ul>
          <li>id:12345ABCDE</li>
          <li>model:"nexus 5"</li>
          <li>owner:xiawang</li>
          <li>location:PEK</li>
          <li>project:cn-app-compat-testing</li>
        </ul></b>
        For multiple fields query, seperate them by spaces, such as:<p style="margin-bottom: 10px">
        <b><ul>
          <li>model:pixel owner:mobileharness</li>          
          <li>location:MTV status:public</li>
          <li>model:"nexus 5"|"nexus 6p" os:6.0.1</li>
        </ul></b>
      </div>
  </div>

{% endblock %}