{% extends 'motric_disposal.html' %}
{% load motric_custom_tags %}
{% block title %}Resolved Request{% endblock %}
{% block date_filter %}
	  <ul class="nav nav-tabs" style="float:right">
		  <li><a href="{{ request.path }}?ao=all">All</a></li>
		  <li><a href="{{ request.path }}?ao=tm">This Month</a></li>
		  <li><a href="{{ request.path }}?ao=lm">Last Month</a></li>
		  <li><a href="{{ request.path }}?ao=more">More early</a></li>
	  </ul>
{% endblock %}
{% block status %}
	  	    <th class="btn-danger dropdown">
	  	  	  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Status 
	  	  	  <span class="caret"></span></button>
	  	  	    <ul class="dropdown-menu">
	  	  	      {% with current_tab=request.GET.ao current_location=request.GET.l %}
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=all"">All</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=ass_uc" title="Assigned but uncharged">Uncharged</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=ass" title="All Assigned">Assigned</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=pub">Public</a></li>
				  <li><a href="?ao={{ current_tab }}&l={{ current_location }}&s=ref">Refused</a></li>
				  {% endwith %}
				</ul>
			</th>
{% endblock %}