{% extends 'motric_moresrc.html' %}

{% block title %}All devices running on Mobile Harness{% endblock %}

{% block body %}

{% include 'motric_modal.html' %}
	<table class="table table-bordered table-hover text-center font-compacted">
	  {% csrf_token %}
	  <!-- <p>URL of this page: {{ request.get_full_path }}</p> -->
	  <h4 style="float:left;margin-left:10">Totally <span class="noticeable">{{ count }}</span> devices   
	  {% if request.path != "/broken_device/" %}
	  <a class="btn btn-success bold" href="/public_device/" id="btn_public_device">Public Devices</a>
	  <a class="btn btn-warning bold" href="/dedicated_device/" id="btn_dedicated_device">Dedicated Devices</a>
	  {% endif %}
	  <a class="btn btn-link" style="margin-right:20;font-size:14" href="#" id="toggle-show">Show more columns</a>
	  </h4>

	  <ul class="nav nav-tabs" style="float:right">
		  <li><a href="{{ request.path }}">All</a></li>
		  <li><a href="{{ request.path }}?loc=pek">PEK</a></li>
		  <li><a href="{{ request.path }}?loc=mtv">MTV</a></li>
		  <li><a href="{{ request.path }}?loc=twd">TWD</a></li>
	  </ul>
	  <thead>
	  	<tr class="btn-primary">
	  	  <th>#</th>
	  	  <th>Model</th>
	  	  <th title="For Android, it's serial number; for iOS, it's unique identifier.">Device ID<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th class="l2_column hidden">OS</th>
	  	  <th title='Those who have the property ownership of the device.'>Owner<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th class="l2_column hidden" title='Those who have the current usage access of the device. If empty, it is same as owner.'>User<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th class="l2_column hidden" title='Info displayed on the MobileHarness client homepage.'>Label<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th>Project</th>
	  	  <th>Location</th>
	  	  <!-- <th class="btn-success">Requester</th> -->
	  	  <!-- <th class="btn-success" title='Cost Center'>Cost Center</th> -->
<!-- 	  	  <th class="btn-success" title='Purchase Order ID on Pivt system'>PO#<img src='/static/img/question.png' style="width:21px;"></th>
	  	  <th class="btn-success">Price(USD)</th>
	  	  <th class="btn-success">Price(CNY)</th> -->
	  	  <th class="btn-danger">Status</th>
	  	</tr>
	  </thead>
	  <tbody>
		{% for device in device_list %}
		<tr>
		  <!-- <td><a href="/details/?did={{ device.device_id }}&pk={{ device.id }}" target="_blank">{{ device.id }}</a></td> -->
		  <td><a href="/details/?t=d&pk={{ device.id }}" target="_blank">{{ device.id }}</a></td>
		  <!-- <td>{{ device.model.all.last.model_type }}</td> {# Niubility! django's model and template #} -->
		  <td class="one-line">{{ device.model }}{% if request.path == "/broken_device/" and device.replaced == 1 %}<span class="label label-warning" style="float:right">replaced</span>{% endif %}{% if 'qos' in device.label|lower %}<span class="label label-success" style="float:right">QoS</span>{% endif %}</td>
		  <td class="one-line-sticker" ><a href="#" data-target="labd_editor" data-name="device_id" data-title="Change device id (Careful!)" data-pk="{{ device.id }}">{{ device.device_id }}</a>{% if request.path == "/broken_device/" %}<button data-pk="{{ device.id }}" title="use other device to replace this" class="btn btn-xs btn-hidden-replace" style="float:right">Replace</button>{% endif %}</td>
		  <td class="l2_column hidden one-line"><a href="#" data-target="labd_editor" data-name="os" data-title="Edit os version" data-pk="{{ device.id }}">{{ device.os |default:"" }}</a></td>
		  <td class="one-line"><a href="#" data-target="labd_editor" data-name="owner" data-title="Edit device owner" data-pk="{{ device.id }}">{{ device.owner |default:"" }}</a></td>
		  <td class="l2_column hidden"><a href="#" data-target="labd_editor" data-name="user" data-title="Edit device user" data-pk="{{ device.id }}">{{ device.user |default:"" }}</a></td>
		  <td class="l2_column hidden one-line-sticker"><a href="#" data-target="labd_editor" data-name="label" data-title="Edit device label" data-pk="{{ device.id }}">{{ device.label |default:"" }}</td>
		  <td class="one-line"><a href="#" data-target="labd_editor" data-name="project" data-title="Edit device project" data-pk="{{ device.id }}">{{ device.project |default:"" }}</a></td>
		  <td><a href="#" data-target="labd_editor" data-name="lab_location" data-type="select" data-title="Change location" data-pk="{{ device.id }}">{{ device.lab_location }}</a></td>
		  <!-- <td>{{ last_target.requester.ldap }}</td> -->
		  <!-- <td>{{ last_target.requester.cost_center }}</td> -->
		  {# with last_target=device.respond_to.all|dictsort:"resolved_date"|last first_target=device.respond_to.all|dictsort:"resolved_date"|first #}
		  {# with last_target=device.respond_to.all.last first_target=device.respond_to.all.0 #}
		  {# with last_target=device.responserelationship_set.all.last.request first_target=device.respond_to.all.0 #} <!--This one has same effect with the following one, just to make consistence, comment this -->
		  {# with last_target=device.responserelationship_set.all.last.request first_target=device.responserelationship_set.all.first.request #}
		  <!-- <td>{{ first_target.po_number }}</td>
		  <td>{{ first_target.price_usd }}</td>
		  <td>{{ first_target.price_cny }}</td>	 -->	  
<!-- 		  <td>{{ device.po_number|default:"" }}</td>
		  <td>{{ device.price_usd|default:"" }}</td>
		  <td>{{ device.price_cny|default:"" }}</td> -->
		  {# endwith #}
		  
		  <td><a href="#" data-target="labd_editor" data-name="status" data-type="select" data-title="Change Status" data-pk="{{ device.id }}">{{ device.get_status_display }}</td>  {# don't use it as display() #}
		</tr>

		{% endfor %}
	  </tbody>
	</table>
<!-- 	<div class="pagination" style="float:right">
	    <span class="step-links">
	        {% if device_list.has_previous %}
	            <a href="?page={{ device_list.previous_page_number }}"><<</a>
	        {% endif %}

	        <span class="current btn btn-default">
	            Page {{ device_list.number }} of {{ device_list.paginator.num_pages }}
	        </span>

	        {% if device_list.has_next %}
	            <a href="?page={{ device_list.next_page_number }}">>></a>
	        {% endif %}
	    </span>
	</div> -->
	<ul class="pagination" style="float:right">
	  {% with current_location=request.GET.loc %}
	  {% if device_list.has_previous %}
	    <li><a href="?loc={{ current_location }}&page={{ device_list.previous_page_number }}">&laquo;</a></li>
	  {% else %}
	    <li class="disabled"><span>&laquo;</span></li>
	  {% endif %}
	  {% for page_number in device_list.paginator.page_range %}
	    {% ifequal page_number  device_list.number %}
	      <li class="active"><a>{{ page_number }}</a></li>
	    {% else %}
	      <li><a href="?loc={{ current_location }}&page={{ page_number }}">{{ page_number }}</a></li>
	    {% endifequal %}
	  {% endfor %}
	  {% if device_list.has_next %}
	    <li><a href="?loc={{ current_location }}&page={{ device_list.next_page_number }}">&raquo;</a></li>
	  {% else %}
	    <li class="disabled"><span>&raquo;</span></li>
	  {% endif %}
	  {% endwith %}
	</ul>
{% endblock %}