{% extends 'motric_base.html' %}
{% load static %}
{% block body %}
	<ul>
	  <li><a class="active" href="/home/" target="main">Home</a></li>
	  <li><a href="/public_device/" target="main">Public Devices</a></li>
	  <li><a href="/dedicated_device/" target="main">Dedicated Devices</a></li>
	  <li><a href="/device_request/" target="main">Device Request</a></li>
	  <li><a href="/request_disposal/" target="main">Request Disposal</a></li>
	  <li><a href="http://go/moha-bej/" target="_black">Moha Frontend</a></li>
	  <li><a href="http://go/mobileharness" target="_black">User Guide</a></li>
	  <li><a href="http://go/ezreq" target="_black">Pivt</a></li>
	  <li><a href="http://go/mh-bug" target="_black">File Bug</a></li>
	  <li style="margin-top:220px;"><img src="{% static 'img/logo.jpg' alt='motric-logo' %}"></li>
	  <li style="margin:0 0 10px 10px;">Powerd by <span style="color:red">Mobile Harness Team</span> ©2016. </li>
	</ul>
	<iframe class="xframe" src="/home" name="main" ></iframe>
{% endblock %}