{% extends 'motric_moresrc.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
  <div class="jumbotron">
	<p>Thanks for using Mobile Harness!</p>
	<!-- <p>We've received your request, if it's approved, we'll start purchasing shortly. </p> -->
	<p>We've received your request, and just sent one mail to you to log it.</p>
	<!-- <p>Please stay tuned.</p> -->
	<p>If it's approved, we'll try to make it satisfied in short time. Please stay tuned.</p>
	<!-- <div><img src="{% static 'img/motric-logo_l.png' alt='motric-logo' %}" style="width:10%;float:right"></div> -->
  </div>
  <table>
	<tr>
		<td><img src="{% static 'img/logo.png' alt='motric-logo' %}" style="width:50%"></td>
		<!-- <td><img src="{% static 'img/logo.png' alt='motric-logo' %}" style="width:80%"></td> -->
	</tr>
</table>
</div>

{% endblock %}