<p></p>
<div class="form-group">

<!--   <div class="form-group">
    <label for="shared_device">Choose Device<span style="font-size: 12"> (hold ctrl to select more than one model, customize in below fields if all of this don't fit your requirement):</span></label>
    <select multiple class="form-control mtinput" name="shared_device" size="15">
      <option value="marlin25">Pixel XL(API 25)</option>
      <option value="taimen27">Pixel 2 XL(API 27)</option>
      <option value="taimen28">Pixel 2 XL(API 28)</option>
      <option value="blueline28">Pixel 3(API 28)</option>
      <option value="blueline29">Pixel 3(API 29)</option>
      <option value="crosshatch29">Pixel 3 XL(API 29)</option>
      <option value="flame29">Pixel 4(API 29)</option>
      <option value="starqlteue">Galaxy S9(API 26)</option>
      <option value="G8142">Xperia XZ Premium(API 25)</option>
      <option value="iphone8">iPhone 8(OS 12.4)</option>
      <option value="iphonexr">iPhone Xr(OS 12.4)</option>
      <option value="flo">Nexus 7 2013(API 18)</option>
      <option value="bullhead">Nexus 5X(API 25)</option>
      <option value="FRT">Nokia 1-Android GO(API 27)</option>
      <option value="k61v1_basic_ref">Tecno-Android GO(API 29)</option>
    </select>
  </div> -->


  <label for="devicelist">Quota Device:</label>
  <table id="device_table" class="table table-bordered table-hover">
	<tr style="background-color:lightblue">
		<th style="width:40%" class="btn-info">Model</th>
		<th style="width:40%" class="btn-warning">Expected OS/API level</th>
		<th style="width:10%" class="btn-danger">Quantity</th>
		<!-- <th style="width:12%" class="btn-danger">Must rooted?</th> -->
    </tr>
    <tr>
		<td>
        <!-- <input class="mtinput form-control" type="text" id="device1" placeholder="e.g. Pixel 3XL, iPad pro 12 inch" name="device"> -->
        <select class="form-control mtinput" name="device" id="quotad" required>
          <option value="" hidden>--Select device--</option> <!-- select doesn't support placeholder, this is the substitute.-->
          <option value="marlin25">Pixel XL(API 25)</option>
          <option value="taimen27">Pixel 2 XL(API 27)</option>
          <option value="taimen28">Pixel 2 XL(API 28)</option>
          <option value="blueline28">Pixel 3(API 28)</option>
          <option value="blueline29">Pixel 3(API 29)</option>
          <option value="crosshatch29">Pixel 3 XL(API 29)</option>
          <option value="flame29">Pixel 4(API 29)</option>
          <option value="starqlteue">Galaxy S9(API 26)</option>
          <option value="G8142">Xperia XZ Premium(API 25)</option>
          <option value="iphone8">iPhone 8(OS 12.4)</option>
          <option value="iphonexr">iPhone Xr(OS 12.4)</option>
          <option value="flo">Nexus 7 2013(API 18)</option>
          <option value="bullhead">Nexus 5X(API 25)</option>
          <option value="FRT">Nokia 1-Android GO(API 27)</option>
          <option value="k61v1_basic_ref">Tecno-Android GO(API 29)</option>
          <option value="">Manually input</option>
        </select>
    </td>
		<td><input class="mtinput form-control" type="text" id="os1" placeholder="e.g. Android 9 or API30, leave empty if no matter." name="os"></td>
    <!-- <td><input class="mtinput form-control" type="number" id="quantity1" value="1" min="1" name="quantity"></td> -->
		<td><input class="mtinput form-control" type="number" id="quantity1" min="1" name="quantity"></td> <!-- donot include value=1, otherwise will submit as a valid item. -->
		<!-- <td><input class="checkbox" type="checkbox" name="rooted1"></td> -->
    </tr>
    <tr>
		<td><input class="mtinput form-control device_extraline" type="text" id="device2q" name="device"></td>
		<td><input class="mtinput form-control" type="text" id="os2" name="os"></td>
		<td><input class="mtinput form-control" type="number" id="quantity2" min="1" name="quantity"></td>
		<!-- <td><input class="checkbox" type="checkbox" name="rooted2"></td> -->
    </tr>
  </table>
</div>