<div class="row">
<div class="form-group col-sm-5" >
  <label for="requester">LDAP:<span class="noticeable">*</span></label>
  <input type="text" class="form-control mtinput required" id="quota_requester" placeholder="Enter your own ldap username, omitting @google.com." name="quota_requester" required>
</div>
<div class="form-group col-sm-7">
  <label for="mdb_group">MDB group:<span class="noticeable">*</span></label>
  <input type="text" class="form-control mtinput required" id="mdbgroup" placeholder="Enter your MDB group which share the devices, e.g. mobileharness." name="mdbgroup" required>
</div>
</div>

<div class="row">
<div class="form-group col-sm-5">
  <label for="product_efforts">Product Efforts:<span class="noticeable">*</span></label>
  <input type="text" class="form-control mtinput required" id="pes" placeholder="e.g. PA 774 Search > PG 117 Serving Infrastructure > PE 451 Tools (Internal and External)" name="pes" required>
</div>
<div class="form-group col-sm-7">
  <label for="pe_poc">Product Efforts contact person:</label>
  <input type="text" class="form-control mtinput required" id="pe_poc" placeholder="e.g. abc@google.com, can be a mailing group." name="pe_poc">
</div>
</div>

<div class="form-group">
  <label for="comment">Additional comment:</label>
  <input type="text" class="form-control mtinput" id="comment" placeholder="Anything needs us to pay extra attention, please comment here." name="comment">
</div>