<table class="table table-bordered table-hover">
  <tr>
    <th class="btn-primary">Common Info</th>
  </tr>
</table>

<div class="form-group">
  <label class="control-label col-sm-1" for="model">Model:<span class="noticeable">*</span></label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput required" placeholder="eg. Pixel XL, iPhone 7" name="model" required>
  </div>
  <label class="control-label col-sm-1" for="project">Project:<span class="noticeable">*</span></label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput required" placeholder="eg. GMSCore, Youtube." name="project" required>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-1" for="owner">Owner:<span class="noticeable">*</span></label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput required" placeholder="Those have the device access and ownership" name="owner" required>
  </div>
    <label class="control-label col-sm-1" for="devicelabel" style="text-align: left">Label:</label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput" placeholder="Info displayed on the MobileHarness client" name="label">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-1" for="os" style="text-align: left">OS:</label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput" placeholder="eg. Android 7.0" name="os">
  </div>
  <label class="control-label col-sm-1" for="po" style="text-align: left">PO#:</label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput" placeholder="PO number in PIVT system." name="po_number">
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-1" for="price_cn" style="text-align: left">CNY￥:<span class="noticeable">*</span></label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput required" placeholder="eg. 1999, estimate if not sure." name="price_cn" data-name="price" required>
  </div>
  <label class="control-label col-sm-1" for="price_us" style="text-align: left">USD$:<span class="noticeable">*</span></label>
  <div class="col-sm-5">
    <input type="text" class="form-control mtinput required" placeholder="eg. 399, estimate if not sure" name="price_us" data-name="price" required>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-1" for="location" style="text-align: left">Location:<span class="noticeable">*</span></label>
  <div class="col-sm-5">
    <select class="form-control mtinput" placeholder="" name="location" required>
      <option value="">--Select lab locaiton--</option>
      <option value="PEK">PEK</option>
      <option value="MTV">MTV</option>
      <option value="TWD">TWD</option>
    </select>
  </div>
  <label class="control-label col-sm-1" for="status" style="text-align: left">Status:<span class="noticeable">*</span></label>
  <div class="col-sm-5">
    <select class="form-control mtinput" placeholder="" name="status" required>
      <!-- <option disabled selected value></option> -->
      <option value="">--Select device status--</option>
      <option value="AVA">Public</option>
      <option value="ASS">Dedicated</option>
      <option value="BRO">Broken</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="control-label col-sm-12" for="exclusive" style="text-align: left">Is exclusive: <input type="checkbox" id="exclusive"> (If this is checked, the device will be prevented from loanning, even allocating, and must be recycled after 2 years as from the day it is registered.)</label>
</div>