<!-- <div class="form-group">
</div> -->
<table id="deviceid_table" class="table table-bordered table-hover">
	<tr>
		<th class="btn-success">Device ID</th><th class="btn-success"></th>
	</tr>
	<tr>
		<td><input class="mtinput form-control" type="text" name="device_id" required></td>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
	</tr>
	<tr>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
	</tr>
	<tr>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
	</tr>
	<tr>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
	</tr>
	<tr>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
		<td><input class="mtinput form-control" type="text" name="device_id"></td>
	</tr>
</table>
