<div class="form-group">
  <label for="requester">LDAP:<span class="noticeable">*</span></label>
  <input type="text" class="form-control mtinput required" id="requester" placeholder="Enter your own ldap username, omitting the @google.com." name="requester" required>
</div>
<div class="form-group">
  <label for="costcenter">Cost Center:<span class="noticeable">*</span></label>
  <input type="text" class="form-control mtinput required" id="costcenter" placeholder="Enter your cost center code." name="costcenter" required>
</div>
<div class="form-group">
  <label for="project">Project name:<span class="noticeable">*</span></label>
  <input type="text" class="form-control mtinput required" id="project" placeholder="e.g. GMSCore, Youtube." name="project" required>
</div>
<div class="form-group">
  <label for="owner">Device owner:<span class="noticeable">*</span></label>
  <input type="text" class="form-control mtinput required" id="owner" placeholder="Please list all the LDAPs/MDBs that need to access the device. Mailing group are not supported." name="owner" required>
</div>
<div class="form-group">
  <label for="devicelabel">Device label:</label>
  <input type="text" class="form-control mtinput" id="label" placeholder="Label your devices, in order to locate and search your devices with job dimension 'label'." name="label">

<!-- <div class="form-group">
  <label for="preferred_location">Which central lab do you prefer?</label>
  <p></p>
  <label class="radio-inline"><input type="radio" name="pfer_loc" value="BEJ">Beijng</label>
  <label class="radio-inline"><input type="radio" name="pfer_loc" value="MTV">MountainView</label>
  <label class="radio-inline"><input type="radio" name="pfer_loc" value="TDC">Taiwan DataCenter</label>
</div> -->

<!-- <div class="form-group">
  <label for="preferred_location">Which central lab do you prefer?</label>
  <select class="form-control mtinput" name="pref_loc">
    <option value="">We will certainly try but no garantee your preferred location is the final one. Leave this if no matter.<option>
    <option value="PEK">PEK</option>
    <option value="MTV">MTV</option>
    <option value="TDC">Taiwan DataCenter</option>
  </select>
</div> -->

</div><div class="form-group">
  <label for="comment">Additional comment:</label>
  <input type="text" class="form-control mtinput" id="comment" placeholder="Anything needs us to pay extra attention, please comment here." name="comment">
</div>