<div class="form-group">
  <label for="requester">LDAP:</label>
  <input type="text" class="form-control mtinput required" id="requester" placeholder="Enter your own ldap username, omitting the @google.com." name="requester" required>
</div>
<div class="form-group">
  <label for="costcenter">Cost Center:</label>
  <input type="text" class="form-control mtinput required" id="costcenter" placeholder="Enter your cost center code." name="costcenter" required>
</div>
<div class="form-group">
  <label for="project">Project name:</label>
  <input type="text" class="form-control mtinput required" id="project" placeholder="e.g. GMSCore, Youtube." name="project" required>
</div>
<div class="form-group">
  <label for="owner">Device owner:</label>
  <input type="text" class="form-control mtinput required" id="owner" placeholder="Please list all the LDAPs/MDBs that need to access the device. Mailing group are not supported." name="owner" required>
</div>
<div class="form-group">
  <label for="devicelabel">Device label:</label>
  <input type="text" class="form-control mtinput" id="label" placeholder="Label your devices, in order to locate and search your devices with job dimension 'label'." name="label">
</div>