<p></p>
<div class="form-group">
  <label for="devicelist">Device List:<span class="noticeable">*</span></label>
  <table id="device_table" class="table table-bordered table-hover">
	<tr style="background-color:lightblue">
		<th style="width:40%" class="btn-primary">Model</th>
		<th style="width:40%" class="btn-success">Expected OS version</th>
		<th style="width:10%" class="btn-danger">Quantity</th>
		<!-- <th style="width:12%" class="btn-danger">Must rooted?</th> -->
    </tr>
    <tr>
		<td><input class="mtinput form-control" type="text" id="device1" placeholder="eg. Nexus 5, iPad pro 12 inch" name="device" required></td>
		<td><input class="mtinput form-control" type="text" id="os1" placeholder="eg. Android 5.1.1, leave empty if no matter." name="os"></td>
		<td><input class="mtinput form-control" type="number" id="quantity1" value="1" min="1" name="quantity"></td>
		<!-- <td><input class="checkbox" type="checkbox" name="rooted1"></td> -->
    </tr>
    <tr>
		<td><input class="mtinput form-control" type="text" id="device2" name="device"></td>
		<td><input class="mtinput form-control" type="text" id="os2" name="os"></td>
		<td><input class="mtinput form-control" type="number" id="quantity2" min="1" name="quantity"></td>
		<!-- <td><input class="checkbox" type="checkbox" name="rooted2"></td> -->
    </tr>
  </table>
</div>