<div class="jumbotron">
<!-- Please use this form to request your dedicated device from Mobile Harness central lab. We will charge the cost of the device (and  <b> device only </b>) at end of each month to your cost center.  For current device parchasing unit price, please refer to <b><a href='http://go/moha-quotation' target='_blank'>go/moha-quotation</a></b>. If your device is not listed, we can send quotation to you before we order the device. Requesting devices from central lab will get lab admin and maintenance for free. <br><br>You can also request lab ops help by <b><a href='http://go/mh-labops-request' target='_blank'>go/mh-labops-request</a></b>. -->

<!-- <span class="bold_green">Two ways to get devices:</span><p></p>
- You buy the devices and send them to be set up in MH lab. (Recommended for MTV users). Fill up this form to get your devices set up. Please ship your devices to Ronghui Zhu (@magicpig).<p></p>
- Fill up the form and MH team will help you go through the procurement procedure and then set them up in the lab. Please expect 5-12 weeks lead time for procurements in MTV. <p></p>

If MH team helped you buy devices, your cost center will be charged for the device cost.  Please refer to <b><a href='http://go/moha-quotation' target='_blank'>go/moha-quotation</a></b> for recent purchase price. If your device model is not listed, we can send quotation to you before we order the device. <p></p>

Dedicated devices in MH central labs will get lab admin, maintenance and other accessories and facilities for free. You can request lab ops help by <b><a href='http://go/mh-labops-request' target='_blank'>go/mh-labops-request</a></b>. -->

<!-- Please fill up the form and MH team will help you go through the procurement procedure and then set them up in the lab (<span class="noticeable">Read our <a href="http://go/mh-sla-lab-preparation" target="_blank">SLA</a></span>). Your cost center will be charged for the device cost.  Please refer to <b><a href='http://go/moha-quotation' target='_blank'>go/moha-quotation</a></b> for recent purchase price. If your device model is not listed, we can send quotation to you before we order the device. <p></p>

Devices in MH dedicated labs will get centralized experienced lab operation for free. You can request lab ops help by <b><a href='http://go/mh-labops-request' target='_blank'>go/mh-labops-request</a></b>. -->

To help find the proper device lab solution for your use cases and make good use of device labs, please make sure to file <b><a href='http://go/mh-device-request' target='_blank' class='undertone'>go/mh-device-request</a></b> ticket and get approval before submit this form.
</div>